<div class=" px-0 sm:px-4 py-0 sm:py-6">

  <%= render "users/profiles/profile", user: @user %>

  <div class="border-t border-gray-300 my-6 mt-6"></div>

  <%= render "posts/posts", posts: @posts %>

</div>
