<footer class="py-8 pt-10 flex flex-col items-center">
  <div class="text-gray-600 mt-3 flex justify-center space-x-6 text-sm">
    <%= link_to "利用規約", "#" %>
    <%= link_to "プライバシーポリシー", "#" %>
    <%= link_to "お問い合わせ", "#" %>
  </div>

  <p class="text-gray-600 text-sm">@2025 Trip-let project</p>
</footer>
