<header class="bg-white shadow-sm">
  <div class="container mx-auto flex items-center justify-center py-3 px-4">
    <!-- 右側：ナビゲーション -->
    <nav class="flex items-center space-x-8">
      <%= link_to "投稿一覧", posts_path, class: "px-4 py-2 rounded-full bg-green-500 text-white hover:bg-green-400" %>
      <%= link_to "MY投稿", "#", class: "px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-400" %>
      <%= link_to "ログアウト", "#" %>
    </nav>
  </div>
</header>