<% content_for :title, "プライバシーポリシー | Trip-let" %>

<div class="flex items-center justify-center">
  <div class="max-w-4xl p-8 my-10 bg-white rounded-3xl shadow-lg text-gray-700">
    <h1 class="text-2xl font-bold text-center mb-10">プライバシーポリシー</h1>

    <div class="mt-6 h-px w-full bg-gradient-to-r from-transparent via-[#F95858]/40 to-transparent"></div>

    <p class="mt-6 leading-relaxed">
      Trip-let（以下「当サービス」といいます。）は、当サービスの提供にあたり取得する
      利用者情報の取扱いについて、以下のとおり定めます。
    </p>

    <h2 class="text-lg font-semibold mt-8">■ お客様から取得する情報</h2>
      <p class="mt-2 pl-1">当サービスは、お客様から以下の情報を取得することがあります。</p>
        <ul class="list-disc list-outside space-y-1 pl-6 mt-2">
          <li>氏名（ニックネームやペンネームを含みます）</li>
          <li>メールアドレス</li>
          <li>写真や動画など、お客様が投稿するコンテンツ</li>
          <li>外部サービス（Googleアカウント等）を利用したログイン機能を提供する場合に取得される、
              当該外部サービスのIDおよびお客様が連携を許可した情報</li>
          <li>Cookie（クッキー）を用いて生成された識別情報</li>
          <li>OS、ブラウザの種類、端末情報等の技術情報</li>
          <li>当サービスの閲覧履歴、入力履歴等の行動履歴</li>
        </ul>

    <h2 class="text-lg font-semibold mt-8">■ お客様の情報を利用する目的</h2>
      <p class="mt-2 pl-1">当サービスは、取得した情報を以下の目的のために利用します。</p>
        <ul class="list-disc list-outside space-y-1 pl-6 mt-2">
          <li>当サービスへの登録受付、本人確認、認証のため</li>
          <li>当サービスの利用履歴を管理するため</li>
          <li>当サービスの利用状況を分析し、機能改善や品質向上に役立てるため</li>
          <li>当サービスに関するお知らせやご案内を行うため</li>
          <li>お客様からのお問い合わせに対応するため</li>
          <li>利用規約または法令に違反する行為に対応するため</li>
          <li>当サービスの変更、提供中止、終了等を連絡するため</li>
          <li>利用規約等の変更を通知するため</li>
          <li>上記利用目的に付随する、当サービスの提供、維持、保護および改善のため</li>
        </ul>

    <h2 class="text-lg font-semibold mt-8">■ 安全管理のために講じた措置</h2>
      <p class="mt-2 pl-1">
       当サービスは、取得した情報の漏えい、滅失または改ざんの防止等のため、
       合理的かつ適切な安全管理措置を講じるよう努めます。
       なお、安全管理措置の具体的な内容については、法令に基づき
       開示が必要とされる場合を除き、開示しない場合があります。
      </p>

    <h2 class="text-lg font-semibold mt-8">■ 第三者提供</h2>
      <p class="mt-2 pl-1">
       当サービスは、法令に基づく場合を除き、お客様の同意なく個人情報を
       第三者に提供することはありません。
      </p>

    <h2 class="text-lg font-semibold mt-8">■ プライバシーポリシーの変更</h2>
      <p class="mt-2 pl-1">
       当サービスは、必要に応じて本ポリシーの内容を変更することがあります。
       変更後のプライバシーポリシーは、当サービス上に掲載した時点から効力を
       生じるものとします。
      </p>

    <h2 class="text-lg font-semibold mt-8">■ お問い合わせ</h2>
      <p class="mt-2 pl-1">
       本ポリシーに関するお問い合わせは、当サービス内のお問い合わせフォームよりご連絡ください。
      </p>

    <p class="mt-6 text-right text-xs text-slate-500">
      制定日：2026年1月10日
    </p>
  </div>
</div>

<div class="mt-4 text-center">
  <%= link_to "戻る", :back, class: "text-base text-blue-600 hover:underline" %>
</div>
