<div id="map" style="height:600px; margin-top:20px;"></div>

<script>
window.initMap = function() {

  const location = {
    lat: <%= post.latitude || 35.681236 %>,
    lng: <%= post.longitude || 139.767125 %>
  }

  const map = new google.maps.Map(
    document.getElementById("map"),
    {
      zoom: 15,
      center: location
    }
  )

  let marker = null

  <% if post.latitude.present? && post.longitude.present? %>
    marker = new google.maps.Marker({
      position: location,
      map: map
    })
  <% end %>

  <% if local_assigns[:editable] %>
  map.addListener("click", function(event) {

    const lat = event.latLng.lat()
    const lng = event.latLng.lng()

    const latInput = document.getElementById("post_latitude")
    const lngInput = document.getElementById("post_longitude")

    if (latInput) latInput.value = lat
    if (lngInput) lngInput.value = lng

    if (marker === null) {
      marker = new google.maps.Marker({
        position: event.latLng,
        map: map
      })
    } else {
      marker.setPosition(event.latLng)
    }

})
<% end %>

}
</script>
