<div class="relative text-center">
  <p class="font-mono text-3xl font-medium text-gray-800 py-4">
    投稿作成
  </p>
</div>

<%= render "shared/error_messages", object: @post %>
<%= render "form", post: @post %>
