<p>こんにちは、<%= @email %> さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスは <%= @resource.unconfirmed_email %> に変更中です。変更を完了するには、送信された確認メールのリンクをクリックしてください。</p>
<% else %>
  <p>あなたのメールアドレスは <%= @resource.email %> に変更されました。</p>
<% end %>
