<p><%= @resource.email %> 様</p>

<p>
  Trip-letにご登録のアカウントにおいて、
  パスワードが変更されたことをお知らせいたします。
</p>

<p>
  本操作にお心当たりがある場合は、特に対応は不要です。
</p>

<p>
  もし本操作にお心当たりがない場合は、
  速やかにパスワードの再設定を行ってください。
</p>

<p>
  ───────────────<br>
  Trip-let 運営
</p>
