<p>こんにちは、<%= @resource.name %> さん</p>

<p>Trip-let からのお知らせです。</p>

<p>パスワード変更のリクエストがありました。以下のリンクから新しいパスワードを設定できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに覚えがない場合は、このメールは無視してください。</p>

<p>リンクをクリックして新しいパスワードを作成するまで、パスワードは変更されません。</p>
