<p><%= @resource.name %> 様</p>

<p>
  Trip-letをご利用いただきありがとうございます。
</p>

<p>
  パスワード再設定のリクエストを受け付けました。
</p>

<p>
  下記のリンクから、新しいパスワードを設定してください。
</p>

<p>
  <%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  ※本メールにお心当たりがない場合は、本メールを破棄してください。
</p>

<p>
  なお、上記リンクをクリックして新しいパスワードを設定するまで、
  現在のパスワードは変更されません。
</p>

<p>
  ───────────────<br>
  Trip-let 運営
</p>
